
FileManagerSyncfusion/FileManager/obj/Debug/netcoreapp3.1/apphost.exe
FileManagerSyncfusion/FileManager/obj/Debug/netcoreapp3.1/FileManager.assets.cache
FileManagerSyncfusion/FileManager/obj/Debug/netcoreapp3.1/FileManager.csproj.FileListAbsolute.txt
FileManagerSyncfusion/FileManager/obj/Debug/netcoreapp3.1/FileManager.Views.dll
FileManagerSyncfusion/FileManager/obj/Debug/netcoreapp3.1/RazorDeclaration/FileManager.pdb
FileManagerSyncfusion/FileManager/obj/FileManager.csproj.nuget.dgspec.json
FileManagerSyncfusion/FileManager/obj/FileManager.csproj.nuget.g.props
FileManagerSyncfusion/FileManager/obj/FileManager.csproj.nuget.g.targets
FileManagerSyncfusion/FileManager/obj/project.assets.json
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.AssemblyInfo.cs
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/Google_OAuth2.0.AssemblyInfo.cs
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/Google_OAuth2.0.AssemblyInfoInputs.cache
FileManagerSyncfusion/.vs/FileManager/v16/.suo
FileManagerSyncfusion/.vs/FileManager/DesignTimeBuild/.dtbcache.v2
FileManagerSyncfusion/.idea/.idea.FileManager/.idea/workspace.xml
FileManagerSyncfusion/.idea/.idea.FileManager/.idea/projectSettingsUpdater.xml
.vs/EJ2GoogleDriveFileProvider/config/applicationhost.config
.vs/EJ2GoogleDriveFileProvider/v16/.suo
EJ2GoogleDriveFileProvider/bin/Debug/netcoreapp2.1/credentials/client_secret.json
EJ2GoogleDriveFileProvider/bin/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.deps.json
EJ2GoogleDriveFileProvider/bin/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.dll
EJ2GoogleDriveFileProvider/bin/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.pdb
EJ2GoogleDriveFileProvider/bin/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.runtimeconfig.dev.json
EJ2GoogleDriveFileProvider/bin/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.runtimeconfig.json
EJ2GoogleDriveFileProvider/bin/Debug/netcoreapp2.1/Google_OAuth2.0.dll
EJ2GoogleDriveFileProvider/bin/Debug/netcoreapp2.1/Google_OAuth2.0.pdb
EJ2GoogleDriveFileProvider/bin/Debug/netcoreapp2.1/packages.config
EJ2GoogleDriveFileProvider/bin/Debug/netcoreapp2.1/web.config
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.assets.cache
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.csproj.AssemblyReference.cache
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.csproj.CopyComplete
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.csproj.CoreCompileInputs.cache
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.csproj.FileListAbsolute.txt
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.dll
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.genruntimeconfig.cache
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.pdb
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.RazorAssemblyInfo.cache
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.RazorAssemblyInfo.cs
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.RazorTargetAssemblyInfo.cache
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/UserSecretsAssemblyInfo.cs
EJ2GoogleDriveFileProvider/obj/EJ2GoogleDriveFileProvider.csproj.nuget.dgspec.json
EJ2GoogleDriveFileProvider/obj/EJ2GoogleDriveFileProvider.csproj.nuget.g.props
EJ2GoogleDriveFileProvider/obj/EJ2GoogleDriveFileProvider.csproj.nuget.g.targets
EJ2GoogleDriveFileProvider/obj/project.assets.json
EJ2GoogleDriveFileProvider/obj/project.nuget.cache
GoogleOAuth2.0Base/bin/Debug/netstandard2.0/Google_OAuth2.0.deps.json
GoogleOAuth2.0Base/bin/Debug/netstandard2.0/Google_OAuth2.0.dll
GoogleOAuth2.0Base/bin/Debug/netstandard2.0/Google_OAuth2.0.pdb
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/Google_OAuth2.0.assets.cache
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/Google_OAuth2.0.csproj.AssemblyReference.cache
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/Google_OAuth2.0.csproj.CoreCompileInputs.cache
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/Google_OAuth2.0.csproj.FileListAbsolute.txt
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/Google_OAuth2.0.dll
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/Google_OAuth2.0.pdb
GoogleOAuth2.0Base/obj/Google_OAuth2.0.csproj.nuget.dgspec.json
GoogleOAuth2.0Base/obj/Google_OAuth2.0.csproj.nuget.g.props
GoogleOAuth2.0Base/obj/Google_OAuth2.0.csproj.nuget.g.targets
GoogleOAuth2.0Base/obj/project.assets.json
GoogleOAuth2.0Base/obj/project.nuget.cache
.vs/EJ2GoogleDriveFileProvider/v16/.suo
