
FileManagerSyncfusion/FileManager/obj/Debug/netcoreapp3.1/apphost.exe
FileManagerSyncfusion/FileManager/obj/Debug/netcoreapp3.1/FileManager.assets.cache
FileManagerSyncfusion/FileManager/obj/Debug/netcoreapp3.1/FileManager.csproj.FileListAbsolute.txt
FileManagerSyncfusion/FileManager/obj/Debug/netcoreapp3.1/FileManager.Views.dll
FileManagerSyncfusion/FileManager/obj/Debug/netcoreapp3.1/RazorDeclaration/FileManager.pdb
FileManagerSyncfusion/FileManager/obj/FileManager.csproj.nuget.dgspec.json
FileManagerSyncfusion/FileManager/obj/FileManager.csproj.nuget.g.props
FileManagerSyncfusion/FileManager/obj/FileManager.csproj.nuget.g.targets
FileManagerSyncfusion/FileManager/obj/project.assets.json
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
EJ2GoogleDriveFileProvider/obj/Debug/netcoreapp2.1/EJ2GoogleDriveFileProvider.AssemblyInfo.cs
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/Google_OAuth2.0.AssemblyInfo.cs
GoogleOAuth2.0Base/obj/Debug/netstandard2.0/Google_OAuth2.0.AssemblyInfoInputs.cache
FileManagerSyncfusion/.vs/FileManager/v16/.suo
FileManagerSyncfusion/.vs/FileManager/DesignTimeBuild/.dtbcache.v2
FileManagerSyncfusion/.idea/.idea.FileManager/.idea/workspace.xml
FileManagerSyncfusion/.idea/.idea.FileManager/.idea/projectSettingsUpdater.xml
